
.profile {
    width: 400px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .description {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
  }
  .avatar {
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
    border-radius: 35%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .name {
    margin-bottom: 15px;
    font-size: 42px;
    font-weight: 700;
  }
  .tag,
  .location {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 400;
    color: gray;
  }
  
  .stats {
    padding: 20px 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .label {
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: gray;
  }
  .quantity {
    font-size: 26px;
    font-weight: 700;
  }