.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: rgb(233, 225, 225);
    text-align: center;
  }
  .statList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .item {
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .label {
    padding-top: 10px;
    margin-bottom: 7px;
    display: block;
    font-size: 18px;
    color: #fff;
  }
  .percentage {
    font-size: 24px;
    color: #fff;
  }